### mw htaccess
RewriteEngine on

 
#goes to the index.php file
RewriteCond %{REQUEST_URI} !\.(gif|jpg|jpeg|png|js|css|ttf|woff|php|ico)$

#RewriteRule ^(.*)$ /index.php
RewriteRule ^(.*)$ index.php [NC,L]