 
### mw htaccess
RewriteEngine on


#goes to the index.php file
RewriteCond %{REQUEST_URI} !\.(gif|jpg|jpeg|png|js|css)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [NC,L]