#wrapper {
	padding-left: 250px;
	transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
	margin-left: -250px;
	left: 250px;
	width: 250px;
	background: #E9E6E6;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}
#page-content-wrapper {
	width: 100%;
	max-width:960px;
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar-nav li {
	line-height: 40px;
	text-indent: 20px;
}
.sidebar-nav li a {
	color: #333333;
	display: block;
	text-decoration: none;
}
.sidebar-nav li a:hover, .sidebar-nav li a.active {
	color: #333333;
	background: white;
	text-decoration: none;
	text-decoration: none;
	outline: none;
	color: #212121;
	transition: box-shadow 0.09s linear;
	-moz-transition: box-shadow 0.09s linear;
	-webkit-transition: box-shadow 0.09s linear;
	-o-transition: box-shadow 0.09s linear;
	text-shadow: 1px 1px 0px white;
}
.page-content .subnav {
	 
}
.page-content .subnav li a.active {
 	color:#003399;
}
 
.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	height: 65px;
	line-height: 60px;
	font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
	color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}
.content-header {
	height: 65px;
	line-height: 65px;
}
.content-header h1 {
	margin: 0;
	margin-left: 20px;
	line-height: 60px;
	display: inline-block;
}
#menu-toggle {
	display: none;
}
.inset {
	padding: 20px;
}
 @media (max-width:767px) {
#wrapper {
	padding-left: 0;
}
#sidebar-wrapper {
	left: 0;
}
#wrapper.active {
	position: relative;
	left: 250px;
}
#wrapper.active #sidebar-wrapper {
	left: 250px;
	width: 250px;
	transition: all 0.4s ease 0s;
}
#menu-toggle {
	display: inline-block;
}
.inset {
	padding: 15px;
}
}
