body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	background-color: #efecec;
    line-height: 1.6;
    color: #413939;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.sidebar .mw-ui-navigation a {
	height: auto;
}
.sidebar {
	padding-right: 50px;
}
.header {
	font-weight: 100;
	font-size: 14px;
	position: relative;
	z-index: 2;

	margin: 0px;
}
.content {
	max-width: 740px;
}
.header, .page-container {
	max-width: 1100px;
	margin: 20px auto
}
.header .mw-ui-invisible-field {
	width: 0;
	opacity:0;
	height: 0;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	color: white;
}
.header .mw-ui-invisible-field:focus {
	width: 100px;
	opacity: 1;
}
.header .mw-ui-field:focus+span {
	display: none;
}
.header a {
	text-decoration: none;
	border-left: 1px solid rgba(0, 0, 0, 0.08);
	border-right: 1px solid rgba(255, 255, 255, 0.17);
	font-size: 19px;
}
.header a.active {
	text-decoration: none;
	background-color: #216A98;
}
.page-container a {
	color: #3383bb;
	text-decoration: none;
}
.page-container a.active {
	color: #000077;
	text-decoration: underline;
}
a code {
	color: inherit;
}
h1 {
	font-size: 2.6em;
}
h2 {
	font-size: 2.15em;
}
h3 {
	font-size: 1.7em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.85em;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0.4em 0;
	margin-top: 0.6em;
	text-align: start;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: inherit;
	font-family: inherit;
	font-weight: 400;
	line-height: 1.1;
}
pre {
}
p, pre, pre.prettyprint, blockquote {
	margin: 0 0 1.1em;
}
hr {
	margin: 2em 0;
}
code {
	background-color: #f9f2f4;
	border-radius: 4px;
	color: #c7254e;

	padding: 2px 4px;
}
code, kbd, pre, samp {
   /*	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;  */
   font-size: 17px;
}
.page-container table {
	margin-bottom: 20px;
	max-width: 100%;
	width: 100%;
}
.page-container table code {
	font-size:14px;
}
.content >*:first-child {
	margin-top: 0px;
}
.content ul, .content ol {
	padding-left:16px;
	margin: 0 0 1.1em;
}
.content .hljs {

 white-space:pre-wrap;	
}

.content img {
    max-width: 100%;
}

#autocomplete{
  position: absolute;
  top: 100%;
  right: 30px;
  padding: 10px;
  background: white;
  z-index: 9;
  border: 1px solid #eee;
  max-height: 300px;
  width: 200px;
  overflow: hidden;
  box-shadow: 0 0 6px -4px #000;
}

#autocomplete a:hover,
#autocomplete .hover a{
  color: white;
  background-color: rgba(51, 131, 187, 1);
}

#autocomplete a{
  color: rgba(65, 57, 57, 1);
  display: block;
  padding: 10px;
  font-size: 16px;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

#autocomplete small{
  display: none;
}

#autocomplete li{
  float: none;
  list-style: none
}


