.navbar-toggle {
    background-color: #f9f9f9;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
}

.icon-bar {
    background-color: #563D7C;
}

body,a{
  color: #333333;
}

#content{
  border-radius: 0;
}

#header > .navbar{
  margin-bottom: 0;
}

#header ul.nav.navbar-nav{
  float: right;
}

#logo{
  display: block;
  text-indent: -9999px;
  background: url(logo.png) no-repeat;
  width: 138px;
  height: 34px;
  margin: 7px 20px 0 0;
}

#main-content{
  background: white;
  padding: 20px;

}

#main-content > h2:first-child{
  padding:70px 70px 70px 220px;
  margin-bottom: 35px;
  margin-top: 0;
  background: #4793C5 url(docstitle.png) no-repeat 50px 70%;
  color: white;
  font-size: 37px;
  font-family:Consolas, sans-serif;
}

@media (max-width:991px){
  #main-content > h2:first-child{
    padding:20px;
    background: #4793C5 ;
     font-size: 30px;
  }

  #sidenavcontent .nav-label-color{
    display: none;
  }

  #header ul.nav.navbar-nav{
    float: none;
  }

}

#sidenav-menu{
  overflow: hidden;
}

#sidenav-menu:hover{
  overflow-y: auto;
}

#sidenavcontent{
  background: white;

}

#sidenav ul,
#sidenav li{
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidenav li a{
  display: block;
  padding: 10px 20px;
}
#sidenav li li a{
  padding-left: 40px;
}

#sidenav li a:hover,
#sidenav li a:focus{
  background-color: #E8E8E8;
}

#sidenav ul ul{
  display: none;
}

#sidecell{
  position: relative;
  z-index: 9;
}




#sidenav-menu  li a.active{
  font-weight: bold;
  text-decoration: underline;
  position: relative;
}
#sidenav-menu  li li a.active:before{
    color: #111111;
    content: "\e013";
    display: block;
    font-family: 'Glyphicons Halflings';
    font-size: 8px;
    left: 22px;
    position: absolute;
    top: 13px;
}

#sidenav-menu  li.current .nav-title, #sidenav .nav-title.active{
  background: #777;
  color: white;
  font-weight: bold;
}

#sidenav-menu  li.current .nav-title + ul{
  display: block;
}



#select_holder{
  padding: 20px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  display: none;
  margin-top: -19px;
  background: #f3f3f3;
  border-bottom: 1px solid #ccc;
}

#sections-mobile-menu{
  width: 100%;
  min-width: 200px;
  margin: auto
}

#sidenav.fixed{
  position: fixed;
  top: 20px;
}

#main-content .subnav li{
    font-size: 21px;
    line-height: 2;
}

#section-title h3{
  padding: 17px;
  margin: 0;
  border-bottom: 1px solid #E8E8E8;
}

#search{
  position: relative;
  margin: 8px 0 0 20px;
}

#search input{
  float: right;
  width: 100px;
  padding-right: 40px;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
#search input.xfocus{
  width: 200px;
}

#search .glyphicon{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #bbb;
  display: block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events:none;
}
#search.searching .glyphicon:before{
  display:none;
}
#search.searching .glyphicon{
  background-image: url(searchspin.GIF);
}

#search input.xfocus + .glyphicon{
  color: #333;
}
#search_autocomplete{
  position: absolute;
  top:100%;
  left: 0;
  background: white;
  box-shadow: 0 1px 1px 1px #ccc;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  min-width: 100%;
}

#search_autocomplete li, #search_autocomplete ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#search_autocomplete li a{
  display: block;
  padding: 12px;
  border-bottom: 1px solid #eee;
  position: relative;
}
#search_autocomplete li:last-child a{
  border-bottom: none
}

#search_autocomplete li a .label{
  font-size: 10px;
  line-height: 9px;
  padding: 1px 4px;
  position: absolute;
  right: 3px;
  top: 3px;
}

#search_autocomplete li a.hover .label,
#search_autocomplete li a:hover .label{
  background:white;
  color: #333;
}

#search_autocomplete li a.hover,
#search_autocomplete li a:hover{
  color: white;
  background: #4793C5;
}

.search-results-list-empty{
  display: block;
  padding: 12px;
  color: #777;
}
.search-results-list-empty em{
  color: #333;
}

@media (max-width:991px){
  #search{
    display: none;
  }

}


.runner_output {
 max-height:300px;
 overflow:scroll;	
	
}